## Learning Objectives

- Learn all of the methods in pyspark for data-frame manipulation
- The dataset we use is Titanic dataset
<!-- - Apply visualization to data-frame -->

In [1]:
import numpy as np 
# import pandas as pd 

# df = pd.read_csv('titanic.csv') 
from pyspark import SparkContext
sc = SparkContext()

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Pyspark_Titanic") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df = spark.read.csv('titanic.csv', header=True, inferSchema = True)

In [4]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [10]:
# df.shape

## Titanic Dataset Description

VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

### Plot how many of the passengers were children, youth, middle age and old?

In [6]:
# import matplotlib.pyplot as plt

# df['Age'].hist(bins=16)
# plt.show()

### How many of Age values are empty (or null)?

In [25]:
# how many of Age values are null
# df['Age'].isna().sum()
df.head(1).isEmpty
# df.head(1).isEmpty
# df.take(1).isEmpty
# df.limit(1).collect().isEmpty

AttributeError: 'list' object has no attribute 'isEmpty'

In [14]:
# Parch = number of parents or children on board
# SibSp = number of siblings or spouses

### Create a new column as gender, when Sex is female it is zero when sex is male it is one

In [ ]:
# create a new column as gender, when Sex is female it is zero when sex is male it is one
# df['Gender'] = df['Sex'].map( {'female': 0, 'male': 1} ).astype(int)